@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\000031}}
.fixedEl {
  width: 50px;
  height: 200px;
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 6;
  transition: .4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\000039}}
.fixedEl img {
  width: 30px;
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000313}}
.fixedEl a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000322}}
.fixedEl ul {
  width: 100%;
  height: 100%;
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000326}}
.fixedEl ul li {
  width: 100%;
  height: 25%;
  background-color: #191919;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000331}}
.fixedEl ul li:hover {
  background-color: tomato;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000333}}
.fixedEl ul li:hover div {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000337}}
.fixedEl ul li:not(:last-child) {
  border-bottom: 1px solid #3b3b3b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000340}}
.fixedEl ul li .show-message {
  position: absolute;
  top: 0;
  right: 60px;
  padding: 20px 10px;
  text-align: center;
  z-index: 10;
  min-width: 170px;
  background-color: #fff;
  border: 1px solid #E0E1E5;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(161, 163, 175, 0.11);
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000353}}
.fixedEl ul li .show-message a {
  display: block;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000356}}
.fixedEl ul li .show-message a:hover {
  color: tomato;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000360}}
.fixedEl ul li .show-message::before, .fixedEl ul li .show-message::after {
  border: solid transparent;
  content: '';
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000368}}
.fixedEl ul li .show-message::after {
  border-width: 10px;
  border-left-color: #fff;
  top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000379}}
.dynamic-pagination ul li:first-child {
  background-color: #b41b1d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000381}}
.dynamic-pagination ul li:first-child a {
  color: #fff;
}

@keyframes animatethird {
  0% {
    bottom: 10%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 10%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\0000395}}
.thirdParty {
  position: fixed;
  left: 20px;
  bottom: 10%;
  z-index: 6;
  animation: animatethird 2s ease-out infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003101}}
.thirdParty div {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003103}}
.thirdParty div .t-bgm {
  width: 200px;
  transition: all .4s;
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003103}}
  .thirdParty div .t-bgm {
    width: 100px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003110}}
.thirdParty div .t-close {
  width: 30px;
  position: absolute;
  z-index: 7;
  left: 0;
  top: 0;
  transition: all .4s;
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003110}}
  .thirdParty div .t-close {
    width: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003120}}
.thirdParty div .t-close:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003124}}
.thirdParty div b {
  font-size: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  color: rebeccapurple;
  transform: translate(-50%, -50%);
  transition: all .4s;
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003124}}
  .thirdParty div b {
    font-size: 0.8rem;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/common\/fixedEl\.scss}line{font-family:\00003135}}
.thirdParty div b:hover {
  cursor: pointer;
}
