.app_banner{
    width: 100%;
    height: 12rem;
    margin-top: 5rem;
    background: url('../../static/images/banner/three.jpg') no-repeat;
    background-size: cover
}
.app_banner h6,.app_banner h2{
    position: absolute;
    left: -100%;
    transition: all 1s
}
.app_banner h6{
    font-size: 1.2rem;
    font-weight: normal;
}
.app_banner .anima_p{
    left: 3rem
}
.app_banner h2{
    font-size: 2rem;
    top: 10rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0.1rem
}

.content .app-news{
    margin: 2rem 1rem 0;
    padding-bottom: 1rem
}
.content .app-news h1{
    font-weight: 700;
    color: #303030;
    position: relative;
    left: -100%;
    transition: all .8s
}
.content .app-news .animah1{
    left: 0;
}
.content .app-news ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0
}
.content .app-news ul li{
    background-color: rgba(243,243,243,1);
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem
}
.content .activeli{
    background-color: rgba(48,48,48,1)!important;
    color: #fff
}

.content .news_item ul{
    padding: 0;
    margin: 0
}
.content .news_item li{
    border-bottom: 0.8rem solid #f3f3f3;
    padding: 2rem 1rem
}
.content .news_item h1{
    font-size: 1.6rem;
    letter-spacing: 0.1rem
}
.content .news_item .sort{
    font-size: 1.2rem
}
.content .news_item span{
    color: #B41B1D
}
.content .news_item .news_info{
    font-size: 1.2rem;
    color: #6E6E6E;
    line-height: 1.6rem;
    border-bottom: 0.1rem solid #D8D8D8;
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem
}
.content .news_item a{
    text-decoration: none;
    color: rgba(51,51,51,0.8);
}
.content .load_more{
    text-align: center;
    margin: 1rem 0 2rem
}
.content .load_more img{
    width: 1.6rem
}
.content .load_more p{
    margin-top: 0.6rem;
    font-size: 1.2rem;
    color: #C9C9C9;
}


.getprice{
    width: 100%;
    /* height: 5rem; */
    background-color: #B41B1D;
    padding: 1.6rem 0 1.2rem;
    text-align: center
}
.getprice p{
    font-size: 1.3rem;
    color: #fff;
    margin: 0 0 1rem;
}
.getprice a{
    display: inline-block;
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    border: 0.1rem solid #fff;
    padding: 0.4rem 0.8rem;
}