@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\000033}}
#particles-js {
  background: url("../../images/login_bgm.jpg") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\000039}}
#particles-js form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px #333;
  padding: 40px 30px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000320}}
#particles-js form > div {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000324}}
#particles-js form > div img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000330}}
#particles-js form > div p {
  margin: 0;
  font-size: 14px;
  position: absolute;
  left: 46px;
  top: 0;
  z-index: -1;
  color: #1e90ff;
  opacity: 0;
  background-color: #fff;
  transition: all .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000343}}
#particles-js form > p {
  font-size: 24px;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000347}}
#particles-js form input {
  width: 250px;
  height: 34px;
  padding-left: 10px;
  border: 1px solid transparent;
  outline: none;
  border-bottom: 1px solid #999;
  transition: all .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000357}}
#particles-js form .focus input {
  border: 1px solid #1e90ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000360}}
#particles-js form .focus p {
  opacity: 1;
  top: -10px;
  z-index: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000366}}
#particles-js form .login {
  display: block;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: #1e90ff;
  border-radius: 6px;
  width: 90%;
  height: 40px;
  margin: 40px auto 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/htmlDemo\/web\/static\/scss\/merchant\/login\.scss}line{font-family:\0000377}}
#particles-js form .login:hover {
  cursor: pointer;
}
