.fixedEl{
    width: 50px;
    height: 200px;
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 6;
    transition: .4s;
    img{
        width: 30px;
        height: 30px;
    }
    a{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;    
        padding: 0 10px;
    }
    ul{
        width: 100%;
        height: 100%;
        padding-left: 0;
        li{
            width: 100%;
            height: 25%;
            background-color: #191919;
            position: relative;
            &:hover{
                background-color: tomato;
                div{
                    display: block;
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid #3b3b3b
            }
            .show-message{
                position: absolute;
                top: 0;
                right: 60px;
                padding: 20px 10px;
                text-align: center;
                z-index: 10;
                min-width: 170px;
                background-color: #fff;
                border: 1px solid #E0E1E5;
                border-radius: 3px;
                box-shadow: 0px 2px 5px 0px rgba(161, 163, 175, 0.11);
                display: none;
                a{
                    display: block;
                    color: #000;
                    &:hover{
                        color: tomato
                    }
                }
                &::before,&::after{
                    border: solid transparent;
                    content: '';
                    height: 0;
                    left: 100%;
                    position: absolute;
                    width: 0;
                }
                &::after{
                    border-width: 10px;
                    border-left-color: #fff;
                    top: 15px;
                }
            }
        }
    }
}
.dynamic-pagination{
    ul{
        li:first-child{
            background-color: #b41b1d;
            a{
                color: #fff;
            }
        }
    }
}


@keyframes animatethird{
    0% {bottom:10%}
    50% {bottom: 15%}
    100% {bottom:10%}
}

.thirdParty{
    position: fixed;
    left: 20px;
    bottom: 10%;
    z-index: 6;
    animation: animatethird 2s ease-out infinite;
    div{
        position: relative;
        .t-bgm{
            width: 200px;
            transition: all .4s;
            @media screen and (max-width:480px) {
                width: 100px
            }
        }
        .t-close{
            width: 30px;
            position: absolute;
            z-index: 7;
            left: 0;
            top: 0;
            transition: all .4s;
            @media screen and (max-width:480px) {
                width: 20px
            }
            &:hover{
                cursor: pointer;
            }
        }
        b{
            font-size: 1.8rem;
            position: absolute;
            left: 50%;
            top: 50%;
            color: rebeccapurple;
            transform: translate(-50%,-50%);
            transition: all .4s;
            @media screen and (max-width:480px) {
                font-size: 0.8rem
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}